body.background {
    background-color: rgba(255, 255, 255, 0);
}
table.mainheader {
    background-color: black;
}
th.mainheader {
    color: rgb(85, 85, 85);
    border-style: solid rgb(0, 0, 0);
    border-width: 1px 1px 1px 15px;
    width: 350px;
    height: 50px;
    text-align: right;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.308);
    font-family: 'Courier New';
    font-size: 25px;
    transition: background-color 2s;
}
th.mainheader:hover {
    background-color: rgb(255, 255, 255);
    color:black;
}
th.header {
    width: 100%;
    height: 75px;
    text-align: center;
    font-family: 'Courier New';
    font-size: 60px;
    padding-left: 465px;
    padding-top: 40px;
}
td.left-bar {
    width: 25%;
    height: 550px;
    text-align: center;
}
td.main {
    width: 75%;
    text-align: center;
    font-family: 'Courier New';
    font-size: 30px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
}
table.general {
    width: 100%;
    height: 550px;
}
img {
    width: 70%;
    opacity: 80%;
    padding-top: 15px;
}
p.para1 {
    font-size: 33px;
}
ul {
    text-align: center;
    font-size: 23px;
}