/*Menu Setting*/
table.Menu{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px 0;
}

th.Menu{
    padding: 5px 10px;
    border-collapse: collapse;
    border-radius: 20px;
    font-size: 25px;
    color: white;
}

th.Menu:hover{
    background-color: blanchedalmond;
}

/* The line below the menu */
hr.Menu{
    width: auto;
    margin-top: 30px;
    border-top: 5px double white;
}

/* Body setting*/
body.background{
    background-color: gray;
}

/* Work experience page Setting */
.left {
    text-align: left;
}

table.WorkExperience, tr.WorkExperience, th.WorkExperience, td.WorkExperience {
    border: 1px solid white;
}

th.title {
    background-color: OldLace;
}

td.details {
    font-size: 30px;
    background-color: OldLace;
}

/* Contract page Setting*/
table.ContactMain{
    width: 1100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px 20px;
}

th.ContactMain{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

td.ContracLeftBar{
    background-image: url("../Images/zac cv.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    vertical-align: bottom;
    text-align: center;
    font-size: 20px;
    color: white;
}

td.ContactMain{
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, white, cadetblue);
}

span.ContactMain{
    border-bottom: 2px solid #b0e0e6;
    box-shadow: inset 0 -2px 0 #b0e0e6;
}
span.ContactMain:hover{
    background-color: blanchedalmond;
    border-bottom: revert;
    box-shadow: revert;
}

td.ContractIcon{
    background: transparent;
    border: 3px double cadetblue;
    border-radius: 40px;
    padding-left: 0;
    text-align: center;
}

img.ContactMain{
    width: 40px;
    height: auto;
}