body{
   
    
}
h2{
    font-family:'courier new';
}
table{
    width:100%;
    border-bottom: 3px solid black;
    
    
}

th.name{
    width:35%;
    Font-Family:'courier new';
    text-align:left;
    padding-left:100px;
    
}
th.link{
    width:16.25%;

}
a{
    color:black
}
a:hover{
    color:rgba(121, 77, 11, 0.705)
}
p.content{
    font-family:'courier new';
    align:left top;
    padding-bottom:600px;
    font-size:18px;
    font-weight:bold;
}
td{
    
}
th.image{
    width:30%;
    padding-bottom:300px;
   
}
th.center{
    width:20%;
}

