
.left {
    text-align: left;
}

body.work {
 background-color: rgba(230, 230, 30, 0.3);
}

table, tr, th, td {
 border: 1px solid black;
}

th.title {
 background-color: MediumTurquoise;
}
td.details {
 font-size: 30px;
 background-color: OldLace;
}

